.face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-content: center;

    &::after {
        content: "";
        position: absolute;
        top: 180px;
        width: 150px;
        height: 70px;
        background-color: chocolate;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        transition: 0.5s;
    }
    &:hover {
        &:after {
            top: 210px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 20px;
        }
    }
    .eyes {
        position: relative;
        top: 40px;
        display: flex;

        .eye {
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 20px;
            position: relative;
            
            &::before {
                content: "";
                width: 40px;
                height: 40px;
                background-color: #333;
                position: absolute;
                border-radius: 50%;
                top: 40%;
                left: 25px;
            }
        }
    }
}